* {
margin: 0;
padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  color: white;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#trybewarts-header-title {
  font-size: 40px;
}

.main-container {
  display: flex;

}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column
}

#trybewarts-forms-logo {
  height: 500px;
}

.div-family {
  display: flex;
  flex-direction: column;
}